<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>
<body>
    <h1>Bem-vindo, {{ aluno[0] }}!</h1>
    <ul>
        <li>HTML & CSS: {{ aluno[1] }}</li>
        <li>Bootstrap: {{ aluno[2] }}</li>
        <li>JavaScript: {{ aluno[3] }}</li>
        <li>Node.js: {{ aluno[4] }}</li>
        <li>React JS: {{ aluno[5] }}</li>
        <li>MongoDB: {{ aluno[6] }}</li>
        <li>MySQL: {{ aluno[7] }}</li>
        <li>PostgreSQL: {{ aluno[8] }}</li>
    </ul>
    <a href="/logout">Sair</a>
</body>
</html>

